body {
    margin: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
}


.main-nav {
    list-style: none;
    justify-content: space-between;
    align-items: center;
    background-color: #e5e7eb;
    .main-nav__list {
    display: flex;
    list-style: none;
    gap: 2.5%;
    justify-content: flex-end;
    }
    .main-nav__item {
        text-decoration: none;
        font-size: 18px;
        :hover {
            color: rgb(100, 100, 255);
        }
    }
}

.hero {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    padding: 125px 15% 125px 15%;
    .hero-title {
        color: white;
        font-size: 52px;
        font-weight: bolder;
        margin-bottom: 15px;
    }
    .hero-text {
        font-size: 24px;
        color: #e5e7eb;
        flex-wrap: wrap;
        width: 75%;
    }
}

.main-project__title {
    font-size: 36px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    margin: 50px;
}

.main-project__cont {
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin-bottom: 75px;
    padding-inline: 15%;
    .main-project__item {
        
    }
}


.project-skills {
    flex-direction: column;
    padding-inline: 15%;
    background-color: #e5e7eb;
    border-radius: 1em;
    padding: 5%;
    .project-skills__title {
        font-size: 28px;
        font-weight: bolder;
        justify-content: center;
        display: flex;
        padding-bottom: 30px;
    }
    .project-skills__items {
        display: flex;
        gap: 75px;
        justify-content: center;
    }
    .project-skills__items > img {
        height: 75px;
    }
}

.contact-box {
    background-color: #3882f6;
    color: #e5e7eb;
    display: flex;
    flex-direction: column;
    height: 200px;
    border-radius: 10px;
    margin: 5% 15% 5% 15%;
    text-align: center;
    .contact-box__title {
        font-size: 24px;
        padding: 20px;   
        font-weight: bold;
    }
    .contact-box__text {
        margin-bottom: 20px;
    }
    .contact-box__links {
        display: flex;
        justify-content: center;
        gap: 50px;
        :hover{
            animation: pulse;
            animation-duration: 0.25s;
        }
    }
   
}




.footer-container {
    background-color: #1f2937;
    color: #e5e7eb;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}



//project page

.projects {
    display: grid;
    margin: 75px;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    justify-content: center;
    border: 1px dotted black;

    .card {
        border: 2px solid red;
        gap: 30px;
    }
    .card__header {
    }
    
    .card__footer {
    justify-content: flex-end;
    align-content: center;
    }
        .card_actions {

        }
}

.project1 {
    border: 1px solid black
}


.skills-title {
    font-size: 36px;
    text-align: center;
}



//Contact Page

.contact-title{
    text-align: center;
    justify-content: center;
    .contact-links {
        border: #1f2937;
    }
}
